body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.NavBar{
  position : sticky;
  top:0;
  opacity: 100%;
  border : 3px solid black;
  display:flex;
}
.rightBar{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 70%;
}
.resumeLogo{
  display: absolute;
  height : 3rem;
}



